/* CSS declarations go here */

div.display-content {
   margin: 2% 5%;
}

table.table_form {
    border-collapse: separate; 
    border-spacing: 10px;
}

div.display-area {
    margin: 2%;
    text-align: center;
}

.item.right_menu {
    float: right;
}

table.board {
    margin: 0 auto;   
}

ul.tutorial-list li {
    margin:0 0 10px 0;
}

.success_msg {
    color:green;
}

.error_msg {
    color:red;
}